# .env (for localhost) ====
DATABASE_URL="postgresql://username:password@localhost:5432/database?schema=public"
PORT=3000
ACCESS_SECRET=your_jwt_access_secret
NODE_ENV=development

# .env.docker ===
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secure_password_123
POSTGRES_DB=app_db

DATABASE_URL="postgresql://postgres:secure_password_123@postgres:5432/app_db?schema=public"

PORT=80
ACCESS_SECRET=your_jwt_access_secret
NODE_ENV=development
